.table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 25px;
}

.table th:last-child,
.table td:last-child {
    text-align: center;
}

.table th {
    background: var(--gradient-bottom);
    color: #ffffff;
    font-weight: 400;
    padding: 15px;
    border-bottom: 1px solid var(--dark-blue);
}

.table th:first-child {
    border-radius: 10px 0 0 0;
}

.table th:last-child {
    border-radius: 0 10px 0 0;
}

.table td {
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid var(--dark-blue);
    vertical-align: top;
}

.table tr:nth-child(even) td {
    background-color: var(--light-blue-tint);
}

td.inside-table {
    padding: 0;
    border-bottom: 4px solid var(--dark-blue);
}

.inside-table tr:nth-child(odd) td {
    background: rgba(255, 255, 255, 0.7);
}

.inside-table tr:nth-child(even) td {
    background: rgba(255, 255, 255, 0.2);
}

.inside-table .table {
    margin-bottom: 0;
}

.inside-table tbody {
    background-color: var(--clr-grey-30);
}

.inside-table .table th {
    background: var(--clr-grey-70);
}

.inside-table .table th:first-child {
    border-radius: 0;
}

.inside-table .table th:last-child {
    border-radius: 0;
}

.inside-table .button-wrapper {
    margin: 10px;
    text-align: right;
}

.table .icon {
    height: 24px;
    /*Om de afbeelding verticaal en horizontaal te centreren:*/
    display: block;
    margin: 0 auto;
}

.table-button {
    border: none;
    background: transparent;
}

.table-button:hover {
    cursor: pointer;
    filter: invert(52%) sepia(48%) saturate(755%) hue-rotate(144deg) brightness(92%) contrast(84%);
}

.task-intro {
    display: flex;
    gap: 50px;
    flex-basis: 50%;
    margin: 30px 0;
}

.customer-details,
.planning-details {
    flex: 1;
}

.input-field label {
    display: flex;
    gap: 15px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    flex-grow: 1;
}

.planning-details .task-list {
    margin: 10px 0;
    list-style-position: inside;
}

.task-body {
    margin: 30px 0;
}

.task-body label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-body .radio-button {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.task-body .radio-button label {
    flex-direction: row;
}

.planner-tasks td span,
.planner-customers td span {
    display: flex;
    justify-content: center;
    gap:10px;
}

.checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
}

.col-xs {
    width: max-content;
    white-space: nowrap;
}

.col-xl {
    width: 100%;
}





