.button {
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    gap: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    min-width: 75px;
    justify-content: center;
}

.button.primary {
    background: var(--gradient-bottom);
    color: white;
}

.button.primary:hover {
    background: var(--gradient-top);
}

.button.secondary {
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    background-color: #fff;
}

.button.secondary:hover {
    background-color: var(--clr-grey-20);
}

.button.transform-uppercase {
    text-transform: uppercase;
}

.button.text-center {
    justify-content: center;
}

.icon-button {
    filter: invert(100%) sepia(3%) saturate(7487%) hue-rotate(303deg) brightness(116%) contrast(102%);
    height: 16px;
}

.button:disabled {
    background: var(--clr-grey-70);
}

.button:disabled:hover {
    background: var(--clr-grey-70);
    cursor: default;
}

.button-wrapper {
    display: flex;
    gap: 15px;
}

.mechanic-home .button-wrapper,
.planner-planning .button-wrapper {
    margin-bottom: 25px;
}

.button-wrapper .button {
    margin-bottom: 0;
}

.button-wrapper.view-task {
    justify-content: right;
}

.button-wrapper.paging,
.button-wrapper.full-width {
    justify-content: space-between;
    margin-bottom: 25px;
}

.button-wrapper.right {
    justify-content: end;
}