.planner .inner-container {
    flex-direction: row;
    flex-grow: 1;
}

.content {
    padding: 20px 0 50px 35px;
    flex-basis: 100%;
}

@media screen and (max-width: 1200px) {
    .content {
        padding: 20px 15px 50px 15px;
    }
}

/*** Planner Home ***/
.planner-home {
    background-image: url(../../assets/backgrounds/dashboard-bg.svg);
    background-repeat: no-repeat;
    background-size: 525px;
    background-position: bottom right;
}

.planner-home .content {
    padding: 20px 35px 50px 35px;
}

.content-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 30px;
}

.menu-tile {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-basis: 330px;
    gap: 16px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.menu-tile:hover {
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.1);
}

.menu-tile img {
    width: 100%;
}

.menu-tile a {
    text-decoration: none;
}

/*** Planner Planning ***/
.planner-planning {
    background-image: url(../../assets/backgrounds/planning-bg.svg);
    background-repeat: no-repeat;
    background-size: 525px;
    background-position: bottom right;
}

/*** Planner Tasks ***/
.planner-tasks {
    background-image: url(../../assets/backgrounds/task-bg.svg);
    background-repeat: no-repeat;
    background-size: 525px;
    background-position: bottom right;
}

/*** Planner Customers ***/
.planner-customers {
    background-image: url(../../assets/backgrounds/customer-bg.svg);
    background-repeat: no-repeat;
    background-size: 525px;
    background-position: bottom right;
}

/*** Planner Mechanics ***/
.planner-mechanics {
    background-image: url(../../assets/backgrounds/mechanic-bg.svg);
    background-repeat: no-repeat;
    background-size: 525px;
    background-position: bottom right;
}

