.sidebar {
    max-width: 230px;
    width: 20%;
    flex-grow: 1;
    background-color: var(--light-blue-tint);
    padding: 20px 15px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li a {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    color: var(--dark-blue);
}

.sidebar li a.active {
    background-color: var(--light-blue);
}

.sidebar li a:hover {
    background-color: var(--clr-grey-10);
}

.sidebar li a:visited {
    color: var(--dark-blue);
}

.sidebar li .icon{
    height: 24px;
    margin-right: 10px;
}