@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

/* ----------------------- Algemene Styling Planner ----------------------- */
:root {
    --clr-grey-10: #F2F2F2;
    --clr-grey-20: #E5E5E5;
    --clr-grey-30: #D9D9D9;
    --clr-grey-40: #CCCCCC;
    --clr-grey-50: #BFBFBF;
    --clr-grey-60: #B3B3B3;
    --clr-grey-70: #878787;
    --clr-grey-80: #6C6C6C;
    --clr-grey-90: #515151;
    --yellow: #FFB703;
    --orange: #FB8500;
    --light-blue-tint: #C2E4F4;
    --light-blue: #8ECAE6;
    --aqua: #219EBC;
    --dark-blue: #023047;
    --gradient-bottom: linear-gradient(180deg, #219EBC 0%, #023047 100%);
    --gradient-top: linear-gradient(180deg, #023047 0%, #219EBC 100%);
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-grey-10);
    font-family: var(--font-family);
    font-size: 16px;
}

div#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.outer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.inner-container.flex-row {
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    filter: invert(14%) sepia(25%) saturate(3831%) hue-rotate(173deg) brightness(91%) contrast(98%);
}

a .icon:hover {
    filter: invert(52%) sepia(48%) saturate(755%) hue-rotate(144deg) brightness(92%) contrast(84%);
}

/* ----------------------------- Styling Fonts ----------------------------- */
h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--dark-blue);
    margin-bottom: 20px;
}
h1 img {
    height: 30px;
    margin-right: 15px;
    color: var(--dark-blue);
}

h2 {
    font-size: 28px;
    font-weight: 400;
    color: var(--dark-blue);
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

.logo-light {
    font-weight: 400;
}

.attention {
    font-style: italic;
    color: var(--light-blue);
}

.error {
    color: var(--orange);
    font-style: italic;
}

/* ------------------------ Styling Forms ------------------------ */
.input-field input[type="text"],
.input-field input[type="date"],
.input-field input[type="time"],
.input-field select,
.task-body textarea,
.modal-add-image .image-upload input#description-field {
    font-size: 16px;
    font-family: var(--font-family);
    padding: 5px;
    border: 1px solid var(--light-blue-tint);
    border-radius: 5px;
    flex-grow: 1;
}

.input-field input[type="text"] {
    max-width: 80%;
}

textarea:disabled {
    color: var(--clr-grey-60);
    border: 1px solid var(--clr-grey-60);
}

/* ------------------------ Algemene Elementen ------------------------ */


/* ------------------------------ Modals ------------------------------ */
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    background-color: #000;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    overflow-y: auto;
}

.modal-small {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    overflow-y: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* -------------------------- Error and Warning --------------------------- */
.forbidden-403 .inner-container {
    text-align: center;
    max-width: 600px;
    justify-content: center;
    min-height: 60vh;
}

.text-error {
    color: var(--orange);
    font-style: italic;
    margin:25px 0;
    padding: 10px;
    border: 1px solid var(--orange);
    display: flex;
    align-items: center;
}

.icon.warning {
    filter: invert(68%) sepia(56%) saturate(5092%) hue-rotate(2deg) brightness(99%) contrast(103%);
    height: 25px;
    margin-right: 10px;
}

.modal-warning {
    text-align: center;
}

.modal-warning .button-wrapper {
    justify-content: center;
    margin:25px 0
}

.modal-add-image .image-upload {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-add-image .image-upload input#description-field {
    width: 100%;
}


/* ------------------------ Algemene Styling React ------------------------ */
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
