
/* ----------------------- Algemene Styling Planner ----------------------- */
:root {
  --light-grey: #F2F2F2;
  --yellow: #FFB703;
  --orange: #FB8500;
  --light-blue-tint: #C2E4F4;
  --light-blue: #8ECAE6;
  --aqua: #219EBC;
  --dark-blue: #023047;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-grey);
}

.outer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10px;
}

.inner-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.inner-container.flex-row {
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  /*todo: css filter opnemen in documentatie? https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(14%) sepia(25%) saturate(3831%) hue-rotate(173deg) brightness(91%) contrast(98%);
}

/* ------------------------ Algemene Styling React ------------------------ */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
